<br />

<div class="da-box">
  <h1 class="champ-select">
    Why this project was made
  </h1>
  <p class="champ-select">
    Zach is an avid gamer who mainly plays League of Legends,
    and sometimes he encounters issues with not knowing what 
    champion to play. This project solves this issue!
  </p>
</div>

  