<div class="da-box">
  <h1 class="champ-select">Random League Champion</h1>
  </br >
  </br >

  <%= link_to "Click here for a random champion", randoms_path %>

  </br >
  </br >
  <h2 class="champ-select"><%= "Your Random Champion is #{@randoms.name}" %><h2/>
</div>